# lab 3 - Naive Bayes Classifier

In [4]:
# load iris()
# load wine()
# train test split()
# KFold
# fetch openml
# cross val score(), confusion matrix(), f1 score()

1. Zaimplementuj Naiwny Klasyfikator Bayesa dla danych ciągłych zakładając normalny
rozkład prawdopodobieństwa dla każdej z cech z osobna. W implementacji
możesz użyć standardowego interfejsu scikit-learn dla modeli predykcyjnych -
metody fit() oraz predict().

In [24]:
from sklearn import datasets
import pandas as pd
import numpy as np

iris = datasets.load_iris()
iris_pd = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])

In [71]:
from math import pi, sqrt, exp

In [76]:
def bayes(data, example):
    group_stats = data.groupby('target').agg(['mean', 'std'])
    cols = len(data.columns) - 2
    for i in range (0, cols):
        p = 1/sqrt(2*pi*group_stats.iloc[i, 1]) * exp(-((example[i]-group_stats.iloc[i, 0])**2)/(2*group_stats.iloc[i, 0]))
    print(p)
    
bayes(iris_pd, [5, 3.5, 1, 0.2])

0.04677244297777

In [73]:
group_stats = iris_pd.groupby('target').agg(['mean', 'std'])
group_stats.iloc[1, 0]

np.float64(5.936)

In [69]:
group_stats

       sepal length (cm)           sepal width (cm)            \
                    mean       std             mean       std
target
0.0                5.006  0.352490            3.428  0.379064
1.0                5.936  0.516171            2.770  0.313798
2.0                6.588  0.635880            2.974  0.322497

       petal length (cm)           petal width (cm)
                    mean       std             mean       std
target
0.0                1.462  0.173664            0.246  0.105386
1.0                4.260  0.469911            1.326  0.197753
2.0                5.552  0.551895            2.026  0.274650